<div class="container">
  <div class="row">
    <div class="w-75 mx-auto">
      <h4 class="mt-5"><span class="bg-secondary">商品新規登録</span></h1>
      <div class="col w-75 mx-auto">
        <%= render 'form', item: @item %>
      </div>
    </div>
  </div>
</div>