@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

main {
  font-family: 'Klee One', cursive;
}

main {
  background-color: #fffaf0;
}

nav, h1, h4 {
  font-family: 'Zen Kurenaido';
}

footer {
  background-color: #596E79;
}

h4, h1 {
  color: #1A120B;
}

.display {
  position: relative;
}

.display:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: solid 2px #1A120B;
  animation: border_anim 1s linear forwards;
}

@keyframes border_anim {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

// ボタンの色の設定
.btn-success {
  background: #478384;
  color: #ffffff;
  border: 1px solid#478384;
}

// ボタンの上にポインタを持ってきたときの色
.btn-success:hover {
  background: #43676b;
  color: #ffffff;
  border: 1px solid#43676b;
}

.btn-success:outline {
  border: 1px solid#43676b;
  color: #ffffff;
  background: #43676b;
}

.btn-primary {
  background: #478384;
  color: #ffffff;
  border: 1px solid#478384;
}

.btn-primary:hover {
  background: #ffffff;
  color: #478384;
  border: 1px solid#478384;
}

.btn-primary:outline {
  border: 1px solid#478384;
  color: #478384;
  background: #ffffff;
}

.btn-danger {
  background: #990000;
  color: #ffffff;
  border: 1px solid#990000;
}

.btn-danger:hover {
  background: #660000;
  color: #ffffff;
  border: 1px solid#660000;
}
