<footer>
  <div class="d-flex align-items-center justify-content-center" style="height: 110px;">
    <p style="font-size: 16px;">©NaganoCake. All Rights Reserved.</p>
    <ul class="sns ml-5">
      <i class="fab fa-twitter-square mr-1"></i>
      <i class="fab fa-twitch mr-1"></i>
      <i class="fab fa-youtube"></i>
    </ul>
  </div>
</footer>